.teste{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.top{
    width: 100%;
    height: 300px;
    top: 0%;
}

.metade{
    margin-right: 15px;
    width: 50%
}